@import '~/assets/sass/inc/_solarized';
@import '~/assets/sass/inc/_alignment';
@import '~/assets/sass/inc/_noselect';


.narrowing-filter {

  .controls {
      background: white;
  }

  .selection-frame {

    .selection {
      background: wheat;
      font-size: 0.9em;
      font-weight: normal;
      color: black;
      overflow: auto;
      max-height: 80vh;
    }

  }
}
